body {
    background: rgb(187, 190, 205);
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

header {
    background: rgb(149, 160, 151);
    padding: 3.5%;
    height: 100px;
    background-image: url(/images/headerimg.jpg);
    background-size: 100%;
    background-position: center;
    text-align: center;
    color: darkolivegreen;
}

section {
    background: rgb(149, 160, 151);
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    padding: 0 3.5% 0 3.5%;
}

ul {
    margin:0;
    padding: 0;
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 4%;
}

footer {
    background: rgb(187, 190, 205);
    padding: 10px 3.5%;
}

.feature-box {
    display: flex;
}

.feature-box div {
    width: 100%;
    margin: 1px;
    border-radius: 10px;
    
}

.feature-box div {
    background: rgb(195, 185, 155);
    margin-top: 3.5%;
    padding: 10px;
    border-radius: 10px;
    width: 32%;
    height: 33%;
    text-align: center;
    margin-bottom: 3.5%;
}

a {
    text-decoration: none;
}

li:hover {
    background-color: beige;
    border-radius: 5px;
}

.feature-box div img {
    width:100%;
    border-radius: 10px;
    box-shadow: white 0px 0px 5px;
}

